<div class="container" style="display: inline-block;
position: fixed;
top: 21%;
max-width: 25% !important;">
  <h1>Employee Form</h1>
  <h4>Click on table record to update entity</h4>

  <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
    <div class="form-group">
      <label for="employee_name">Employee Name</label>
      <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="employee.employee_name" name="employee_name"
               #name="ngModel">

        <div [hidden]="employee || employee.pristine"
             class="alert alert-danger">
          Name is required
        </div>
    </div>
    <div class="form-group">
      <label for="employee_salary">Employee Salary</label>
      <input type="text" class="form-control" id="employee_salary"
       required
       [(ngModel)]="employee.employee_salary" name="employee_salary">
    </div>

    <div class="form-group">
      <label for="employee_age">Employee Age</label>
      <input type="text" class="form-control" id="employee_age"
       required
       [(ngModel)]="employee.employee_age" name="employee_age">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!employeeForm.form.valid">Submit</button>

  </form>
  <button class="btn btn-success" (click)="clear()">Clear</button>
</div>

<!-- 
employee_name
employee_salary
employee_age
profile_image -->